@using CommonLib.Produce
@model IEnumerable<ProduceDTO>

@{
    ViewData["Title"] = "Produce Overview";
}

<div class="text-center">
    <h1 class="display-4">GoGreen! Produce Overview</h1>
    @if (Model != null)
    {
        <h2>There is $@Model.Sum(x => x.Price * x.Stock).ToString("n2") worth of inventory.</h2>
    }
    <p><a class="btn btn-primary" asp-area="" asp-controller="Produce" asp-action="Create">Add</a></p>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            foreach (ProduceDTO produce in Model)
            {
                <tr>
                    <td>@produce.Name</td>
                    <td>@produce.Price</td>
                    <td>@produce.Stock</td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-controller="Produce" asp-action="Edit" asp-route-id="@produce.Id">Edit</a>
                        <a class="btn btn-danger" asp-area="" asp-controller="Produce" asp-action="Delete" asp-route-id="@produce.Id">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>


